
   
   .App {
     text-align: center;
   }
   
   .wrapper {
     display: flex;
     width: 40vw;
    height: 20vh;
     margin: 10rem auto;
     border-radius: 7px;
     padding: 1.5rem;
     background-color: white;
   }
   
   .sort {
     width: 40rem;
     margin-top: 1rem;
     height: 3rem;
    border: 2px solid rgb(135,206,250);
   
   
   }
   
   .button {
     display: flex;
     cursor: pointer;
     justify-content: center;
     align-items: center;
     text-align: center;
     width: 10rem;
     height: 5rem;
    padding: 2rem;
    
     
   }
   .button.active{
     background: #1E90FF;
   }
   
   span.button.active {
    width: 10.4rem;
    height: 2.75rem;
    
   }
 
   
  
  