.bg4 {
  height: 100vh;
  width: 100%;
  background-color: black;
  color: white;

}
.dataWrap {
  position: relative;
  width: 90%;
  height: 100vh;
  margin-left: 5rem;
  background-color: #9932CC;
}
.container {
  position: absolute;
  top: 3rem;
  left: 10rem;
  background-color: white;
  width: 60vw;
  height: 35vh;
  margin: 0 auto;
  margin-top: 7rem;
  border-radius: 7px;
}

.step {
  margin-top: 1.5rem;
  margin-left: 2rem;
  display: grid;
  font-size: 20px;
  font-weight: 400;
  grid-template-columns: auto 1fr;
  align-items: center;
  grid-column-gap: 1rem;
  cursor: pointer;
  color: #858585;
}

.title{
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 35rem;
  top: 12rem;
  color: black;

}

.submit {
  font-size: 20px;
  font-weight: 400;
  margin-top: 3.2rem;
}
.step .number {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: grid;
  place-items: center;
  color: #808080;
  background: #f8f8f8;
}
.step.active .number {
  color: white;
  background: #2a80b9;
}

.step.active,
.step:hover,
.step:hover .number {
  color: black;
}
.step.active:hover .number {
  color: white;
}

button {
  background: #f1f1f1;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  padding: 1rem 2rem;
  border-radius: 2px;
  margin-right: 0.5rem;
}
button:focus {
  outline: grey 1px solid;
}



