.bg7 {
    background-color: black;
    height: 100vh;
    width: 100%;
}

.scrollWrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    position: relative;
    width: 60vw;
    height: 100vh;
    background-color: white;
    margin: 0 auto;
}

.scrollElement {
    position: absolute;
    width: 30vw;
    height: 35vh;
    left: 12rem;
    margin-top: 2rem ;
    background-color: lightgray;
}


