.bg2 {
  height: 100vh;
  width: 100%;
  background-color: black;
}
.content-bg {
  position: relative;
  height: 100vh;
  width: 85%;
  margin-left: 6rem;
  background-color: #1E90FF;
}

.wrap {
  position: absolute;
  top: 7rem;
  left: 18rem;
  padding: 1.5rem;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
  width: 45vw;
  height: 42vh;
  border-radius: 7px;
  background-color: white;
}

.form-content {
  display: flex;
  height: 10vh;
}

.btn {
  background: #dedede;
  width: 20vw;
  height: 10vh;
}


 
 .form-content input {
   width: 30vw;
  border: none;
  outline: none;
  font-size: 1.5rem;
  border-bottom: 5px solid #dedede;
  margin-right: 0.5rem; 
} 

form button {
  color: black;
  font-size: 1.5rem;
  outline: none;
  border: none;
  border-radius: 5px;
}

.contents {
  display: flex;
   padding: 2.5rem 0rem;
  text-transform: uppercase;

}

.options {
  margin-right: 1rem;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 700;
  color: #dedede;
}

.selected {
  display: flex;
  justify-content: left;
  font-size: 1.3rem;
  font-weight: 400;
  
}
.options span selected {
  color: black;
  padding: 0.25rem;
}
